<%- include('common/header'); %>
<%  const trend = webPageData.youtubeTrend;
    const raiting = webPageData.youtubeRaiting;
    const comedians = webPageData.comedianTrend;
    const dateOptions = {
    dateStyle: 'full',
    timeStyle: 'short',
    hourCycle: 'h23',
    timeZone: 'Europe/Moscow'}%>

<h1>Youtube обстановка</h1>
<p>Последнее обновление:
    <%= webPageData.lastScanDate.toLocaleString("ru-RU", dateOptions) %>
    по Москве. Считаются ровно сутки с последнего обновления.</p>
<p><a href="/">На главную</a></p>
<h2>Всего просмотров</h2>
<table>
<tr>
    <th></th>
    <th>Концерт</th>
    <th>Комик(есса)</th>
    <th>Просмотры</th>
    <th>+ за сутки</th>
</tr>
<% for (i=0; i < raiting.length; i++) { %>
<tr>
    <td><%= i+1 %></td>
    <td><a href="<%= raiting[i].web_link %>"><%= raiting[i].title %></a> (<%= raiting[i].year %>)</td>
    <td><%= raiting[i].person_name %></td>
    <td style="text-align:right"><%= raiting[i].views_count.toString().replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g, " ") %></td>
    <td style="text-align:right">
        <% if (raiting[i].delta) { %>
        <%= raiting[i].delta.toString().replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g, " ") %>
        <% } else { %>-<% } %>
        </td>
</tr>
    <% } %>
</table>
<p><a href="full/">Рейтинг концертов полностью</a></p>
<h2>Просмотры за сутки</h2>
<table>
<tr>
    <th></th>
    <th>Концерт</th>
    <th>Комик(есса)</th>
    <th>Просмотры</th>
    <th>+ за сутки</th>
</tr>
<% for (i=0; i < trend.length; i++) { %>
<tr>
    <td><%= i+1 %></td>
    <td><a href="<%= trend[i].web_link %>"><%= trend[i].title %></a></td>
    <td><%= trend[i].person_name %></td>
    <td style="text-align:right"><%= trend[i].views_count.toString().replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g, " ") %></td>
    <td style="text-align:right">
        <% if (trend[i].delta) { %>
        <%= trend[i].delta.toString().replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g, " ") %>
        <% } else { %>-<% } %>
        </td>
</tr>
    <% } %>
</table>
<p><a href="/youtube/concerts/today/">Полный сегодняшний тренд концертов</a>.</p>
<h2>Комики в тренде</h2>
<p>Чьи концерты смотрели за сутки</p>
<table>
<tr>
    <th></th>
    <th>Комик(есса)</th>
    <th>+ за сутки</th>
</tr>
<% for (i=0; i < comedians.length; i++) { %>
<tr>
    <td><%= i+1 %></td>
    <td><%= comedians[i].person_name %></td>
    <td style="text-align:right">
        <%= comedians[i].big_delta.toString().replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g, " ") %>
    </td>
</tr>
    <% } %>
</table>
<p><a href="/youtube/comedians/today/">Полный сегодняшний тренд комиков и комикесс</a>.</p>
<p>Собраны работы длиной более сорока минут. С некоторыми исключениями.</p>
<%- include('common/footer'); %>