<%- include('common/header'); %>
<h1>Media</h1>
<p>Операции с медиаресурсами</p>
<table>
<tr>
    <th>id</th>
    <th>Концерт</th>
    <th>Комик</th>
    <th>Удалить</th>
</tr>
<% for (var myCounter=0; myCounter < webPageData.rows.length; myCounter++) { %>
<%  var myRow = webPageData.rows[myCounter] %>
<tr>
    <td><%= myRow.id %></td>
    <td><a href="/editor/media/<%= myRow.id %>/">
        <%= myRow.title %></a></td>
    <td><%= myRow.person_name %></td>
    <td><form action="/editor/media/<%=myRow.id%>/delete/" method="delete" enctype="multipart/form-data">
        <button type="submit" value="Submit">Удалить</button>
    </form></td>
</tr>
    <% } %>
</table>
<p><a href="add/">+ Добавить медиа</a></p>
<%- include('common/footer'); %>