<% wp = webPageData; %>
<%- include('common/header'); %>
<% if (wp.content) { %>
<% persons = wp.content.persons; %>
<table>
    <tr>
        <th>id</th>
        <th>Персона</th>
        <th>Удалить</th>
    </tr>
    <% for (var i = 0; i < persons.length; i++) { %>
    <% var person = persons[i]; %>
    <tr>
        <td><%= person.id %></td>
        <td><a href="/editor/persons/<%= person.id %>/">
            <%= person.last_name %> <%= person.first_name %></a></td>
        <td><form action="/editor/persons/<%=person.id%>/delete/" method="delete" enctype="multipart/form-data">
            <button type="submit" value="Submit">Удалить</button>
        </form></td>
    </tr>
            <% } %>
</table>
<% } else { %><p>No content recieved</p><% }; %>
<%- include('common/footer'); %>