<form action="<%=frm.action%>" method="<%=frm.method%>" enctype="<%=frm.enctype%>">
<% for (var f in frm.fields) {
    var field = frm.fields[f];
    switch (field.type) {

        case "text": %>
<label for="<%=f%>" ><%=field.title%></label><br>
<input type="text" id="<%=f%>" name="<%=f%>" value="<%=field.value%>"/><br><br>            
           <% break;

        case "select": %>
<label for="<%=f%>" ><%=field.title%></label><br>
<select name="<%=f %>">
    <% for (var x=0; x < field.options.length ; x++) { %>
        <% var option = field.options[x] %>
        <option value="<%= option.value %>" <%= option.selected ? "selected" : "" %>><%= option.title %></option>
    <% } %>
</select><br><br>            
       <% break; 

       case "date": %>
<label for="<%=f%>" ><%=field.title%></label><br>
<input type="date" name="<%=f%>" value="<%= field.value ? field.value.toLocaleDateString('en-CA') : '' %>"/><br><br>
            
       <% break; 

       case "button": %>
<button type="<%= field.type %>" value="<%= field.value %>"><%= field.title %></button>
        <% break;

        case "hidden": %>
<hidden name="<%= f %>" value="<%= field.value %>"></button>
        <% break;

       default: %>
      <p><%= f %>: field type "<%= field.type %>" is not found</p>
      <%      break;
    } %>

<% } %>
</form>